h1, h2, h3, p { 
    margin-left:50px;
}
.caseContent > p {
    font-size: 18px;
}
.ImageAcq > img{ 
    max-height: 200px;
}
.RangerUltrasound > img { 
  flex: 1;
  padding: 14px;

  display: flex;
  gap: 12px;
  align-items: flex-start;
  
}
.RangerUltrasound{ 
    img{width: 350px;
    margin: 20px;}
}
img {      
  border: 10px solid #c2cfdd;
}
