body h1 {
    margin-left:50px;
 }

h2, h3 { 
    margin-left:50px;
    text-decoration: underline;
    }
header > h2{ 
    text-decoration: none
}

.caseContent > p {
    font-size: 18px;
}

.RangerUltrasound > img { 
  flex: 1;
  padding: 14px;

  display: flex;
  gap: 12px;
  align-items: flex-start;
  
}
.rowFormat{ 
    img{width: 350px;
    margin: 20px, 40px, 0px, 40px;
    }
}
img {      
  border: 20px solid #c2cfdd;
}
.ImageAcq {
  flex: 1; 
  padding: 14px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left:150px; 
  
  img{ 
    max-height: 500px;
  }
  figcaption{ 
    font-size: 15px;
    text-align: justify;
    
  }
  figure {
  display: table;
}
figcaption {
  display: table-caption;
  caption-side: bottom; 
}
}

.caption img{ 
    min-height: 275px;
}

.caption > p{ 
    text-align: center;
}

.eyes img { 
    margin-left: 50px;
    max-width: 700px;
    max-height: 700px;
}

.list { 
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.5;
    font-size: 18px;
    color: hwb(236 4% 76%);
}

.radiographs  { 
  
  flex: 1;
  padding: 14px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  figure {
  text-align: center;
}

    figcaption {
    margin-top: 8px; 
    }

    
    div img { 
        max-width: 500px;
    }
    .ventrodorsal{
    img {
      min-height: 716px;  
      max-height:716px;
    }
}
}
