 h1 {
    margin-left:50px;
 }
 h2, h3{ 
    margin-left:50px;
    text-decoration: underline;
}

.caseContent > p {
    font-size: 18px;
}
.ImageAcq > img{ 
    max-height: 200px;
}
.RangerUltrasound > img { 
  flex: 1;
  padding: 14px;

  display: flex;
  gap: 12px;
  align-items: flex-start;
  
}
.RangerUltrasound{ 
    img{width: 350px;
    margin: 20px;}
}
img {      
  border: 20px solid #c2cfdd;
}
.ImageAcq {
  flex: 1;
  padding: 14px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-left: 250px;
  img{ 
    max-height: 500px;
    margin-left: 50px ;
  }
}

.radiographs  { 
  
  flex: 1;
  padding: 14px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  figure {
  text-align: center;
}

    figcaption {
    margin-top: 8px; 
    }

    
    div img { 
        max-width: 500px;
    }
    .ventrodorsal{
    img {
        max-height:700px;
    }
}
}
