.text-container{ 
  display: flex;
  gap: 18px;
  margin: 14px auto;
        }


.Text{ 
  flex: 1;
  padding: 14px;
  min-height: 140px;
  width: 60%; 
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin: 50; 
  text-align: justify; 
  
  
}

.welcome { 
  font-size: 20px;
  font-weight: bold; 
}


.BookCover{ 
  flex: 1;
  padding: 14px;
  min-height: 140px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  img { 
    margin: 15px;
    border: 20px solid lightblue; 
  }
  #buybook {
    text-align: center;
  
     a {
      background-color: lightblue;
      text-align: justify ; 
      padding: 3px; 
      border: 5px solid rgb(91, 91, 164); 
      border-radius: 25px; 

  }
  }
}