.text-container{ 
  display: flex;
  gap: 18px;
  margin: 14px auto;
  align-items: flex-start;
        }


.Text{ 
  flex: 1;
  padding: 14px;
  min-height: 140px;
  width: 60%; 
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin: 50px; 
  margin-top: 20px;
  text-align: left; 
  
  
}

.welcome { 
  font-size: 20px;
  font-weight: bold; 
}


.BookCover{ 
  flex: 1;
  padding: 14px;
  min-height: 140px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  img { 
    margin: 20px;
    margin-left: -100px;
    border: 10px solid lightblue; 
  }
  #buybook {
    /* text-align: justify; */
  
     a {
      background-color: lightblue;
      text-align: center ; 
      padding: 7px; 
      border: 2px solid rgb(91, 91, 164); 
      border-radius: 25px; 

  }
  }
}

footer{   
  color: #203348;
  font-size: 15px;
  font-family: sans-serif;
}

#blog-container a.blog-card,
#blog-container a.blog-card:visited,
#blog-container a.blog-card:hover,
#blog-container a.blog-card:active {
  display: block;
  color: inherit;
  text-decoration: none;
}

#blog-container a.blog-card * {
  color: inherit;
  text-decoration: none;
  
}
#blog-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

#blog-container a.blog-card {
  display: block;
  width: 100%;
  max-width: 420px;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#blog-container a.blog-card * {
  color: inherit;
  text-decoration: none;
}